brew_path=$(brew --prefix)

export PATH="${brew_path}/opt/openssl@3/bin:$PATH"
export LDFLAGS="-L${brew_path}/opt/openssl@3/lib"
export CPPFLAGS="-I${brew_path}/opt/openssl@3/include"

source_env_if_exists .local/envrc

: ${PGPORT:?expected to be defined in .local/envrc}

