*.ez
.elixir_ls
.local
.medic/.doctor.out
.medic/skipped
/.fetch
/assets/.DS_Store
/assets/node_modules/
/cover/
/deps/
/doc/
/priv/plts
/priv/postgres
/priv/static/assets/
/priv/static/cache_manifest.json
/tmp/
/_build/
erl_crash.dump
npm-debug.log
seed-*.tar
